doctype html
html
    head
        meta(charset='utf-8')
        title 学生成绩管理系统
        meta(name='renderer', content='webkit')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        meta(http-equiv='Access-Control-Allow-Origin', content='*')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='format-detection', content='telephone=no')
        link(rel='icon', href='favicon.jpg')
        link(rel='stylesheet', href='/layui/css/layui.css', media='all')
        link(rel='stylesheet', href='/css/backend/main.css', media='all')
    body.main_body
        .layui-layout.layui-layout-admin
            // 顶部
            .layui-header.header
                .layui-main
                    a.logo(href='#') 在线考试系统
                    // 显示/隐藏菜单
                    a.iconfont.hideMenu.icon-menu1.layui-icon(href='javascript:;') &#xe632;
                    // 天气信息
                    .weather(pc='')
                        #tp-weather-widget
                        script.
                            (function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))
                        script.
                            tpwidget("init", {
                                "flavor": "slim",
                                "location": "WX4FBXXFKE4F",
                                "geolocation": "enabled",
                                "language": "zh-chs",
                                "unit": "c",
                                "theme": "chameleon",
                                "container": "tp-weather-widget",
                                "bubble": "disabled",
                                "alarmType": "badge",
                                "color": "#FFFFFF",
                                "uid": "U9EC08A15F",
                                "hash": "039da28f5581f4bcb5c799fb4cdfb673"
                            });
                            tpwidget("show");
                    // 顶部右侧菜单
                    ul.layui-nav.top_menu
                        li#showNotice.layui-nav-item.showNotice(pc='')
                            a(href='javascript:;')
                                i.iconfont.icon-gonggao
                                cite 系统公告
                        li.layui-nav-item(mobile='')
                            a.mobileAddTab(href='javascript:;', data-url='page/user/changePwd.html')
                                i.iconfont.icon-shezhi1(data-icon='icon-shezhi1')
                                cite 设置
                        li.layui-nav-item(mobile='')
                            a.signOut(href='page/login/login.html')
                                i.iconfont.icon-loginout
                                |  退出
                        li.layui-nav-item(pc='')
                            a(href='javascript:;')
                                img.layui-circle(src='/images/default.png', width='35', height='35')
                                cite 超级管理员
                            dl.layui-nav-child
                                dd
                                    a(href='javascript:;', data-url='page/user/userInfo.html')
                                        i.iconfont.icon-zhanghu(data-icon='icon-zhanghu')
                                        cite 个人资料
                                dd
                                    a(href='javascript:;', data-url='page/user/changePwd.html')
                                        i.iconfont.icon-shezhi1(data-icon='icon-shezhi1')
                                        cite 修改密码
                                dd
                                    a(href='javascript:;', data-url='page/user/changePwd.html')
                                        cite 测试
                                dd
                                    a.signOut(href='page/login/login.html')
                                        i.iconfont.icon-loginout
                                        cite 退出
            // 左侧导航
            .layui-side.layui-bg-black
                .user-photo
                    a.img(title='我的头像')
                        img(src='/images/default.png')
                    p
                        | 你好！
                        span.userName 超级管理员
                        | , 欢迎登录
                .navBar.layui-side-scroll
            // 右侧内容
            .layui-body.layui-form
                #top_tabs_box.layui-tab.marg0(lay-filter='bodyTab')
                    ul#top_tabs.layui-tab-title.top_tab
                        li.layui-this(lay-id='')
                            i.iconfont.icon-computer
                            cite 学校管理
                     ul.layui-nav.closeBox
                        li.layui-nav-item
                            a(href='javascript:;')
                                i.iconfont.icon-caozuo
                                |  页面操作
                            dl.layui-nav-child
                                dd
                                    a.refresh.refreshThis(href='javascript:;')
                                        i.layui-icon ဂ
                                        |  刷新当前
                                dd
                                    a.closePageOther(href='javascript:;')
                                        i.iconfont.icon-prohibit
                                        |  关闭其他
                                dd
                                    a.closePageAll(href='javascript:;')
                                        i.iconfont.icon-guanbi
                                        |  关闭全部
                    .layui-tab-content.clildFrame
                        .layui-tab-item.layui-show
                            iframe(src='/rooter/school')
            // 底部
            .layui-footer.footer
                p
                    | copyright @2017 500 miles　
        // 移动导航
        .site-tree-mobile.layui-hide
            i.layui-icon &#xe602;
        .site-mobile-shade
        script(type='text/javascript', src='/layui/layui.js')
        script(type='text/javascript', src='/js/backend/leftNav.js')
        script(type='text/javascript', src='/js/backend/index.js')