//
   Created by HUI on 2016/11/13.
extends ../../common/layout

block styles
    link(rel='stylesheet', href='/css/backend/superuser/home.css')
    link(rel='stylesheet', href='/css/backend/superuser/jquery-school-seletor.min.css')
block content
    .childrenBody
        block admin-content


