extends ./home
block admin-content
    .continer
        blockquote.layui-elem-quote
            button#getAll.layui-btn.layui-btn-small(type='button')
                i.layui-icon(aria-hidden='true') &#xe61f;
                a(href='/rooter/addadmin') 添加
            .layui-form(style='float:right;')
                .layui-form-item(style='margin:0;')
                    label.layui-form-label 名称
                    .layui-input-inline
                        input.layui-input(type='text', name='name', placeholder='支持模糊查询..', autocomplete='off' id='name')
                    .layui-form-mid.layui-word-aux.padding-none
                        button.layui-btn(lay-filter='search' id='search') 查询
                            i.fa.fa-search(aria-hidden='true')

        //button.layui-btn.layui-btn-normal
        //    a(href='/admin/createteacher') 新增教师
        table.layui-table.table(id="demo" lay-filter="test")
        script(type="text/html" id="barDemo")
            a.layui-btn.layui-btn-mini(lay-event='edit') 编辑
            a.layui-btn.layui-btn-danger.layui-btn-mini(lay-event='del') 删除
block scripts
    script(src='/js/admin/school_manager.js')


